@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

header {
    background-color: #211F1F;
}

nav {
    padding: 1.2em 0;
    width: 70vw;
    margin: auto;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 1.6em;
    font-weight: bold;
    flex-basis: auto;
}

nav a {
    text-decoration: none;
    color: #F2F4F3;
    transition: 0.2s;
    padding-bottom: 1.3em;
}

nav span a {
    color: #F2542D;
}

nav a:hover {
    color: #F2542D;
    border-bottom: solid 4px #F2542D;
}

nav span a:hover {
    color: #F2F4F3;
}

h1 {
    width: 70vw;
    margin: auto;
    font-size: 8vw;
    padding: 4vw 0;
}

h1 .sprongrechts {
    margin-left: 6vw;
}

h1 .beigetekst {
    color: #FFFBEF;
}

h2 {
    width: 70vw;
    margin: auto;
}

p {
    width: 70vw;
    margin: auto;
}